<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Salut <%= @admin.first_name %> !</h1>
    <p>
<p>L'utilisateur <%= @attendance_user.first_name %> s'est inscrit à ton event <%= @attendance_event.title %> </p>
    <p> Pour accéder à ton espace client, connecte-toi via : <%= @url %>. </p>
  </body>
</html>